html{
    background-color: #f2f2f2;
}
.brand-logo{
    position: initial; 
    font-size: 1.5rem;
}
.rcx-logo-img{
    vertical-align: middle; 
    width: 70px;
    padding-bottom: 10px; 
    margin-right: 10px;
}
.body-container{
    height: 92vh; 
    margin-top: 10px;
}
.count-surveys{
    color: white; 
    font-size: 2.2rem; 
    line-height: 92%; 
    margin: 1.9466666667rem 0 2.3rem 0;
}
.sentiments-graph{
    height: 95px; 
    color: white; 
    cursor: pointer;
}
.single-sentiment{
    height: 100%;
    max-width: 88%;
}
.single-sentiment-icon{
    margin: 0 auto;
}
.chart-btn{
    margin-top: 10px;
}
.search-bar-row{
    margin-top: 17px;
}
.scroll-y {
    display: block;
    max-height: 68vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.survey {
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
    margin-bottom: 20px;
    padding: 5px;
}
.survey-1{
    border-left: 30px solid #D50000; 
}
.survey-2{
    border-left: 30px solid #ffab00;
}
.survey-3{
    border-left: 30px solid #ffd600;
}
.survey-4{
    border-left: 30px solid #aeea00; 
}
.survey-5{
    border-left: 30px solid #00C853;
}
canvas{
    padding-top: 5px;
}
.surveyAge{
    color: #aaa;
    margin-top: 5px;
}
.hyperlink{
    color: #0091ea;
    cursor: pointer;
}
.surveyAge:hover{
    color: #888;
}
.hyperlink:hover{
    color: #0D47A1;
}
.button-chart-visibility{
    background-color: #f2f2f2;
}
.surveyTitle, .surveyComment{
    color: #666;
}
.active{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom: 4px solid #fff;
}
.activeFilter{
    background-color: #0D47A1;
    color: white;
}
.managerDropdownList, .workgroupDropdownList{
    border-radius: 16px !important;
}
.managerDropdownItem, .workgroupDropdownItem{
    color: #777777 !important;
}
.managerDropdownItem:hover, .workgroupDropdownItem:hover{
    color: #000000 !important;
}