<div class="cui cui--animated cui--headermargins cui--wide styleguide">
    <div class="content-fluid">
        <nav id="styleguideSidebar" class="sidebar sidebar--mini sidebar--indigo" role="navigation">
            <div class="sidebar__header">
                <a id="sidebar-toggle" class="sidebar-toggle hidden-xs hidden-sm">
                    <span class="icon-toggle-menu"></span>
                </a>
                <div class="sidebar__header-title">Navigation</div>
            </div>
            <ul id="rootSidebar" data-kss-ref="Downloads">
                <li class="sidebar__item" id="section-gettingStarted">
                    <a onclick="doNav('./index.html')" title="Home">
                        <span class="icon-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li class="sidebar__drawer">
                    <a tabindex="0" title="Dashboard">
                        <span class="icon-google-analytics"></span>
                        <span>Metrics</span>
                    </a>
                    <ul>
                        <li class="sidebar__item">
                            <a [routerLink]="['/']" >Analytics Dashboard</a>
                        </li>
                        <li class="sidebar__item">
                            <a href="#">IM Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__drawer">
                    <a tabindex="0" title="Backend">
                        <span class="icon-webhook"></span>
                        <span>Backend</span>
                    </a>
                    <ul>
                        <li class="sidebar__item">
                            <a href="http://rcx.cisco.com/api">API</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__drawer">
                    <a tabindex="0" title="Incidents">
                        <span class="icon-communities"></span>
                        <span>Incidents</span>
                    </a>
                    <ul>
                        <li class="sidebar__item">
                            <a href="https://jira.sco.cisco.com/browse/CSIM/?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel" target="_blank">IM Jira Escalations</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__drawer">
                    <a tabindex="0" title="Help">
                        <span class="icon-help-outline"></span>
                        <span>Help</span>
                    </a>
                    <ul>
                        <li class="sidebar__item">
                            <a href="https://apps.na.collabserv.com/communities/service/html/communitystart?communityUuid=8a0ba65b-61f0-4f17-93fa-79c4251cc4c9">Employee
                            Community</a>
                        </li>
                        <li class="sidebar__item">
                            <a href="mailto:rcx-admins@cisco.com">Contact Us</a>
                        </li>
                        <li class="sidebar__item">
                            <a href="https://rcx.cisco.com/#faqs">FAQs</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main>
            <header class="header header--tall">
                <div class="header-bar container">
                    <a href="javascript:;" class="header-bar__logo">
                        <span class="icon-cisco"></span>
                    </a>
                    <div class="header-bar__main">
                        <div class="header-heading">
                            <h1 class="page-title">RCX Analytics Dashboard</h1>
                        </div>
                    </div>
                    <div class="header-toolbar">
                        <a href="javascript:;" class="btn btn--icon">
                            <span class="icon-search"></span>
                        </a>
                        <a href="javascript:;" class="btn btn--icon">
                            <span class="icon-alert"></span>
                        </a>
                        <a href="javascript:;" class="btn btn--icon">
                            <span class="icon-cog"></span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</div>