<!--
<nav>
    <div class="nav-wrapper z-depth-1" style="background-color: #049fd9;">
        <div class="container">
            <div class="row">
                <a class="brand-logo col s8" href="#"><img class="rcx-logo-img" src="static/dashboard/assets/img/RCX-Logo.png">Real-time Customer Experience - Analytics Dashboard</a>
            </div>
        </div>
    </div>
</nav>
-->
<div class=" body-container z-depth-10">
    <!--<div class="row">
        <div class="row col s12" style="position: relative; color: white; background-image : linear-gradient(250deg, #fe4c2e 0%, #f2295b 94%); background-color: transparent; opacity: 0.81;">
            <div class="col s8" style="position: absolute;">
                <div>
                    <p>Total:</p>
                </div>
            </div>
            <div class=" offset-s1 col s8">
                <div>
                    <h3 class="count-surveys">{{countSurveys}} Surveys</h3>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row" id="chartContainer" [@visibleInvisible]="isVisible ? 'visible' : 'invisible'"  *ngIf="chartDatasets.length > 0">
        <canvas baseChart id="chartCanvas" 
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [options]="chartOptions"
            [chartType]="chartType"
            [colors]="chartColors"
        ></canvas>
    </div>

    <div class="row search-bar-row">
        <div class="col s4" style="position: relative;">
            <p class="col s12" style="position: absolute; font-size: 12px;">Filtered:</p>
            <h5 class="col s8" style="text-align: center; margin-top: 30px;">{{countSurveys}} Surveys</h5>
        </div>
        <!--
        <div class="col s2 chart-btn">
            <div class="btn waves-effect waves-light blue darken-4 hoverable" (click)="toogleChartVisibility()">
                <div class="col s4">
                    <i class="material-icons" *ngIf="!isVisible">visibility</i>
                    <i class="material-icons" *ngIf="isVisible">visibility_off</i>
                </div>
                <div class="col s8">
                    Graph
                </div>
            </div>
        </div>
        -->
        <div class="col s8 sentiments-graph">
            <div class="col {{sentiment.color}} hoverable valign-wrapper single-sentiment"
                *ngFor="let sentiment of sentiments" 
                [style.display]="sentiment.percentage < 1 ? 'none' : 'flex'"
                [style.width.%]="sentiment.percentage" 
                [class.active]="sentiment.activeClass" 
                (click)="toogleSentimentClass(sentiment)"
                tooltip="{{sentiment.name}}: {{sentiment.percentage | number : '1.1-1' }} %" 
                placement="bottom" show-delay="200">
                <div class="single-sentiment-icon" *ngIf="sentiment.percentage > 0">
                    <i class="material-icons">{{sentiment.icon}}</i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s8 offset-s4">
            <div class="search-wrapper">
                <input id="search" placeholder="Search for a case number" [(ngModel)]="searchKey" (keyup.enter)="getSurveys()" (keyup.backspace)="onDeleteSearchKey()" style=":focus{border-bottom-color:#049fd9;}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s4">
            <div class="chip hoverable col s8 waves-effect waves-light" [class.activeFilter]="filter.active" *ngFor="let filter of filters" (click)="changeTimeWindow(filter)">{{filter.name}}</div>

            <a class='dropdown-trigger chip hoverable col s8 waves-effect waves-light activeFilter' data-target='managersDropdown'>Manager CEC ID: {{selectedManager}}</a>

            <ul id='managersDropdown' class='dropdown-content managerDropdownList'>
                <li *ngFor="let manager of managers" (click)="changeManager(manager)" >
                    <a *ngIf="manager == selectedManager" style="color: #000;">{{manager}}</a>
                    <a *ngIf="manager != selectedManager" class="managerDropdownItem">{{manager}}</a>
                </li>
            </ul>
            <a class='dropdown-trigger chip hoverable col s8 waves-effect waves-light activeFilter' data-target='workgroupsDropdown'>Workgroup: {{selectedWorkgroup}}</a>

            <ul id='workgroupsDropdown' class='dropdown-content workgroupDropdownList'>
                <li *ngFor="let workgroup of workgroups" (click)="changeWorkgroup(workgroup)" >
                    <a *ngIf="workgroup == selectedWorkgroup" style="color: #000;">{{workgroup}}</a>
                    <a *ngIf="workgroup != selectedWorkgroup" class="workgroupDropdownItem">{{workgroup}}</a>
                </li>
            </ul>
        </div>
        <div class="col s8 scroll-y" *ngIf="surveys.length < 1">
            No surveys yet
        </div>

        <div class="col s8 scroll-y" *ngIf='surveys' 
            infiniteScroll
            [infiniteScrollDistance]='1'
            [infiniteScrollUpDistance]='2'
            [infiniteScrollThrottle]='300'
            [fromRoot]='false'
            (scrolled)='onScroll()'>

            <div class="hoverable survey survey-{{survey.sentiment}} col s12" *ngFor="let survey of surveys">
                <div class="surveyTitle col s6">
                    <span>Case number: </span>
                    <span class="surveySRNumber hyperlink" (click)="openCase(survey.caseNumber)">{{survey.caseNumber}}</span>
                </div>
                <div class="surveyAge col s3">
                    <span>{{survey.timestamp.substr(0,25) | timeAgo}}</span>
                </div>
                <div class="waves-effect white col s3 hyperlink button-chart-visibility" (click)="toogleSurveyChart(survey)">
                    <div class="col s4" *ngIf="!survey.showChart">
                        <i class="material-icons" *ngIf="survey.trend == 'up'">trending_up</i>
                        <i class="material-icons" *ngIf="survey.trend == 'down'">trending_down</i>
                        <i class="material-icons" *ngIf="survey.trend == 'neutral'">trending_flat</i>
                    </div>
                    <div class="col s4" *ngIf="survey.showChart">
                        <i class="material-icons">visibility_off</i>
                    </div>
                    <div class="col s8" *ngIf="!survey.showChart">
                        Graph
                    </div>
                    <div class="col s8" *ngIf="survey.showChart">
                        Close
                    </div>
                </div>
                <div class="col s12">
                    <p class="surveyComment" *ngIf="survey.comment">
                        {{survey.comment}}
                    </p>
                    <p class="surveyComment" *ngIf="!survey.comment">
                        No comments
                    </p>
                </div>
                <div *ngIf="survey.showChart" class="divider col s12"></div>
                <div *ngIf="survey.showChart && surveyChartDatasets.length > 0 && surveyChartDatasets[0].data.length > 1">
                    <canvas baseChart
                        [datasets]="surveyChartDatasets"
                        [labels]="surveyChartLabels"
                        [options]="surveyChartOptions"
                        [colors]="surveyChartColors"
                        [chartType]="surveyChartType"
                    ></canvas>
                </div>
                <div *ngIf="survey.showChart && (surveyChartDatasets.length < 1 || surveyChartDatasets[0].data.length < 2)" class="col s12">
                    <p class="surveyComment">No data to graph</p>
                </div>
                <div class="divider col s12"></div>
                <span class="col s3 surveyAge">{{survey.timestamp.substr(0,25) | date:'EEEE, MMM dd'}}</span>
                <span class="col s3 surveyAge" *ngIf="survey.manager != ''">Manager: {{survey.manager}}</span>
                <span class="col s3 surveyAge" *ngIf="survey.workgroup == 'Workgroup Not Set'">Workgroup: Not Set</span>
                <span class="col s3 surveyAge" *ngIf="survey.workgroup != 'Workgroup Not Set'">Workgroup: {{survey.workgroup}} </span>
            </div>
        </div>
    </div>
</div>